.navbar{
    background-color: #e6c9ce;
    height: 50px;
}

.banner {
    width: 100%;
    height: 400px;
    background-image: url("/assets/images/shapes1.jpg");
}

.navbar a {
    text-decoration: none;
    color:  #717a8b;
    font-weight: 600;
}

.nav-item {
    text-decoration: none;
    font-family: 'Caudex', serif;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
}

.nav-item:hover {
    cursor: pointer;
    /* text-decoration: none; */
}

.container {
    background-color: #DEE2FF;
    width: 650px;
    height: 450px;
    padding: 50px;
    margin: 30px;
    border: 5px solid #CBC0D3;
    /* box-shadow: 5px 10px 10px #ece8e8; */
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 280px;
    right: 400px;
}

h1 {
    font-family: 'Caudex', serif;
    display: inline-block;
    justify-content: flex-start;
}

.circle {
    border: 5px solid #CBC0D3;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    justify-content: flex-end;
}

#icons-container {
    display: flex;
    justify-content: center;
}

.icons {
    margin: 10px;
    color: black;
}

.icons:hover {
    cursor: pointer;
}

#profilepic {
    height: 80%;
    width: 50%;
    display: block;
    margin: auto;
}